[submodule "cpp/3rdparty/LIEF"]
	path = cpp/3rdparty/LIEF
	url = https://github.com/jevinskie/LIEF
	branch = jev/dylibify
[submodule "cpp/3rdparty/fmt"]
	path = cpp/3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "cpp/3rdparty/argparse"]
	path = cpp/3rdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "cpp/3rdparty/cpp-subprocess"]
	path = cpp/3rdparty/cpp-subprocess
	url = https://github.com/arun11299/cpp-subprocess
